<section id="experiences" class="section">
    <h2 class="text-5xl mb-4 text-blue-200">Experience</h2>
    {% for experience in experiences %}
        <a title={{experience.jobTitle}} href={{experience.link}}>
            <article class="rounded transition transform md:hover:scale-110 p-5 mb-2 bg-gray-700 flex-grow">
                <h2 class="text-white text-3xl">
                    {{experience.company}}
                </h2>
                <div class="flex justify-between mb-3">{{experience.jobTitle}}
                    <div class="text-gray-400">{{experience.date}}</div>
                </div>

                <p class="mb-5 text-gray-300">{{experience.description}}</p>
                <div class="mb-5">
                    {% for tag in experience.tags %}
                        <span class="inline-block rounded px-2 py-1 mt-1 border-red-700 border">{{tag}}</span>
                    {% endfor %}
                </div>
            </article>
        </a>
    {% endfor %}
</section>