---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Project from "../components/project.astro";
import Information from "../components/information.astro";
import Experience from "../components/experience.astro";
import { config } from "../config";

const projects = await getCollection("projects");
const experiences = await getCollection("experiences");
---

<Layout title={config.name}>
  <main
    class="p-8 md:flex md:items-start lg:w-3/5 min-h-screen text-white mx-auto mt-10"
  >
    <Information />

    <section class="flex-grow">
      <section id="experiences" class="mb-8">
        <h2 class="text-5xl mb-4 text-blue-200">Experience</h2>
        {
          experiences.map((experience) => (
            <Experience experience={experience} />
          ))
        }
      </section>
	  
      <section id="projects">
        <h2 class="text-5xl mb-4 text-blue-200">Projects</h2>
        <div class="section">
          {projects.map((project) => <Project project={project} />)}
        </div>
      </section>
    </section>
  </main>
</Layout>
