---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Project from "../components/project.astro";
import Information from "../components/information.astro";
import Experience from "../components/experience.astro";
import { config } from "../config";
import PostListing from "../components/post_listing.astro";

const projects = await getCollection("projects");
const experiences = await getCollection("experiences");
const posts = await getCollection("posts");
---

<Layout title={config.name} description="Kelvin Chua's website">
  <main
    class="p-8 md:flex md:items-start xl:w-4/5 lg:w-5/6 min-h-screen text-white mx-auto mt-10"
  >
    <Information />

    <section class="flex-grow">
      <section id="posts" class="pb-8">
        <h2 class="text-4xl mb-3 text-blue-200">Posts</h2>
        <div class="grid gap-2 md:grid-cols-2">
          {
            posts
              .sort(
                (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
              )
              .map((post) => <PostListing post={post} />)
          }
        </div>
      </section>

      <section id="experiences" class="pb-8 flex-1">
        <h2 class="text-4xl mb-3 text-blue-200">Work</h2>
        {
          experiences.map((experience) => (
            <Experience experience={experience} />
          ))
        }
      </section>

      <section id="projects">
        <h2 class="text-4xl mb-3 text-blue-200">Projects</h2>
        <div class="flex flex-col gap-2">
          {projects.map((project) => <Project project={project} />)}
        </div>
      </section>
    </section>
  </main>
</Layout>
