---
import h2 from "../../components/markdown/h2.astro";
import ul from "../../components/markdown/list.astro";
import p from "../../components/markdown/p.astro";
import Anchor from "../../components/markdown/anchor.astro";
import ol from "../../components/markdown/ol.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <div class="p-8 lg:w-4/5 mx-auto mt-10">
    <header class="flex justify-between flex-wrap">
      <a
        href="/"
        class="p-1 rounded
        text-surface0
          text-xl bg-blue
           hover:bg-sky transition-all px-5"
      >
        Back
      </a>
    </header>
    <main class="mt-5">
      <header class="pb-4">
        <h1 class="text-7xl font-serif font-black">
          {post.data.title}
        </h1>
        <time class="text-sm text-gray-300"
          >{post.data.pubDate.toDateString()}</time
        >
      </header>
      <Content components={{ ul, h2, a: Anchor, ol, p }} />
    </main>
  </div>
</Layout>
