---
import List from "../../components/list.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div class="p-8 lg:w-3/5 w-4/5 mx-auto mt-10">
    <header class="flex justify-between">
      <a
        href="/"
        class="border-red-50 border p-1 rounded
          text-xl bg-sky-800
           hover:bg-sky-900 transition-all"
      >
        Back
      </a>
      <span>Published: {post.data.pubDate.toDateString()}</span>
    </header>
    <main class="mt-5">
      <header><h1 class="text-4xl">{post.data.title}</h1></header>
      <Content components={{ ul: List }} />
    </main>
  </div>
</Layout>
