---
import type { CollectionEntry } from "astro:content";
import Card from "./card.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<a href={`/post/${post.slug}`}>
  <Card>
    <div class="flex justify-between">
      <span>{post.data.title}</span><span
        >{post.data.pubDate.toLocaleDateString()}</span
      >
    </div>
  </Card>
</a>
