---
layout: main.njk
title: Kelvin Chua
about: |
    I am currently studying Computer Science at the National University of Singapore.
    I have experience in web development, and am looking for employment in a full-stack/front-end/back-end role.
info:
    github: https://github.com/chuakid
    linkedin: https://www.linkedin.com/in/kelvin-chua-b18187154/
    email: chuakid@gmail.com
skills: 
    - HTML
    - CSS
    - JavaScript
    - TailwindCSS
    - React
    - Vue
    - NodeJS
---

<main class="p-8 sm:m-12 md:flex md:items-start min-h-screen text-white mx-auto mt-10">
    <section id="information" class="md:max-w-md md:mr-20 md:sticky md:top-0">
        <header class="mb-3">
            <h1 class="text-7xl text-blue-300">Kelvin Chua</h1>
            <h2 class="text-lg text-gray-200">Undergraduate Student of Computer Science</h2>
        </header>
        <section class="md:mt-8 text-gray-300">
            {{about}}
        </section>
        <footer class="mt-5 flex">
            <a title="github" class="mr-2 hover:scale-125 transform transition" href={{info.github}}>
                {{ './src/svg/github.svg' | printFileContents | safe}}
                github
            </a>

            <a title="resume" class="mr-2 hover:scale-125 transform transition" href="/static/resume.pdf">
                {{ './src/svg/file.svg' | printFileContents | safe}}
                resume
            </a>

            <a title="linkedin" class="mr-2 hover:scale-125 transform transition" href={{info.linkedin}}>
                {{ './src/svg/linkedin.svg' | printFileContents | safe}}
                linkedin
            </a>

        </footer>
        <hr class="mt-2">
        <div class="mt-2 text-gray-400">
        Email: {{info.email}}
            <p>Skills:
            {% for skill in skills %}
                    {{skill}}
                {% endfor %}
            </p>
            <p>Design inspired by <a class="transition text-gray-200 hover:text-slate-500" href='https://www.sarahdayan.dev/' title="Sarah Dayan's Site">Sarah Dayan's Site</a></p>
            <p>Created using Eleventy and TailwindCSS with zero client-side JavaScript.</p> 
        </div>

    </section>
    <section class="flex-grow">
        {% include "experiences.njk" %}
        {% include "projects.njk" %}
    </section>
</main>