---
layout: main.njk
title: Kelvin Chua
about: |
    I am currently studying Computer Science at the National University of Singapore.
    I have experience in web development, and am currently learning react and all its friends(redux etc.)
info:
    github: https://github.com/chuakid
    linkedin: https://www.linkedin.com/in/kelvin-chua-b18187154/
    email: chuakid@gmail.com
skills: 
    - HTML
    - CSS
    - JavaScript
    - TailwindCSS
    - React
    - Vue
    - NodeJS
---

<main class="md:flex md:items-start min-h-screen text-white bg-gray-800 md:py-16 lg:px-20">
    <section id="information" class="md:max-w-md p-8 md:mr-20 md:sticky md:top-0">
        <header class="mb-3">
            <h1 class="text-7xl text-blue-300">Kelvin Chua</h1>
            <h2 class="text-lg text-gray-200">Undergraduate Student of Computer Science</h2>
        </header>
        <section class="md:mt-8 text-gray-300">
            {{about}}
            <p class="mt-2">
            <span class="">Skills</span>:
            {% for skill in skills %}
                    {{skill}}
                {% endfor %}
            </p>

        </section>
        <footer class="mt-5 flex">
            <a title="github" class="mr-2 hover:scale-125 transform transition" href={{info.github}}>
                {{ './src/svg/github.svg' | printFileContents | safe}}
                github
            </a>

            <a title="resume" class="mr-2 hover:scale-125 transform transition" href="/static/resume_without_number.pdf">
                {{ './src/svg/file.svg' | printFileContents | safe}}
                resume
            </a>

            <a title="linkedin" class="mr-2 hover:scale-125 transform transition" href={{info.linkedin}}>
                {{ './src/svg/linkedin.svg' | printFileContents | safe}}
                linkedin
            </a>

        </footer>
        <hr class="mt-2">
        <div class="mt-2">Email: {{info.email}}</div>

    </section>
    {% include "projects.njk" %}
</main>