---
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
      description={description}
      title={import.meta.env.DEV ? `DEV: ${title}` : title}
    />
  </head>
  <body class="bg-slate-900 text-white">
    <slot />
    <style is:global>
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
